#sign-in {
  overflow: hidden;
  .row {
    height: 90vh;
    padding: 20px;
    svg {
      padding-bottom: 2rem;
    }
  }
}

.signin-left {
  padding-top: 4rem;
  height: 52vh;
}

.signin-right {
  height: 37.5vh;
  width: auto;
}

svg {
  width: 100%;
  height: 100%;
}

@media (min-width: 726px) {
  .signin-left {
    padding-top: 10rem;
    height: 85vh;
  }

  .signin-right {
    height: 85vh;
    width: 180vw;
  }
}
