.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  .card {
    vertical-align: top;
    display: inline-block;
    box-shadow: 1px 1px #ccc, 1px 1px #111;
  }
}

.list-card {
  width: 250px;
  padding: 10px;
}
