.activity-sidenav {
  height: 100%;
  position: fixed;
  top: 4rem;
  right: 0;
  z-index: 11;
  background: lightgrey;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #212529;

  .activity-closebtn {
    position: absolute;
    top: 4px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
  }
}

#activity-list-icons {
  font-size: 1.5em;
}
