.activity-sidenav {
  height: 100%;
  // width: 10;
  position: fixed;
  top: 4rem;
  right: 0;
  z-index: 11;
  background: linear-gradient(10deg, #43cea2, #0079bf);
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 40px;
  padding-bottom: 40px;

  // .span-top {
  //   padding: 8px 8px 8px 32px;
  //   text-decoration: none;
  //   font-size: 25px;
  //   color: #fff;
  //   display: block;
  //   transition: 0.3s;
  //   border-bottom: 2px solid #ccc;
  //   &:hover {
  //     color: #ddd;
  //   }
  // }

  .activity-closebtn {
    position: absolute;
    top: 4px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
  }
}

#activity-list-icons {
  font-size: 1.5em;
}
