.title-and-modal {
  padding: 10px;
}

.edit-btn {
  svg {
    visibility: hidden;
    height: 30px;
    width: auto;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &:hover svg {
    visibility: visible;
  }
}
