.card-body-padding-low {
  padding: 10px;
  svg {
    margin-left: 10px;
    margin-right: 10px;
    width: 20px;
    height: auto;
  }
}

.card {
  color: #212529;
}

.delete-list {
  .delete-svg {
    position: absolute;
    top: 13px;
    right: 10px;
    visibility: hidden;
    cursor: pointer;
  }
  &:hover .delete-svg {
    visibility: visible;
  }
}

.list-card {
  width: 250px;
}
