#boards-page {
  padding-top: 4rem;

  .list-group {
    border-top: 0.61px solid linear-gradient(135deg, #36d1dc, #5b86e5);
    min-height: 6vh;
    background: rgba($color: #000, $alpha: 0.1);
  }

  .list-group-item {
    background: linear-gradient(135deg, #36d1dc, #5b86e5);
    border-top: 2px solid white;
    color: white;
    font-weight: bold;
  }

  .card-body small {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: #5b86e5;
    }
  }
}

.all-boards-list,
.all-boards {
  padding: 20px;
}

@media (max-width: 768px) {
  .invisible-on-small-screen {
    display: none;
  }
}
